<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-5">
					<h2>Check out what we're working on <a href="{{site.sourceurl}}/issues/new">here</a>.</h2>
				</div>
				<div class="col-lg-5 col-lg-offset-2">       
                    <h2>What do you think Quarks should do next?&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default btn-lg"><i class="fa fa-lightbulb-o fa-fw"></i> <span class="network-name">Share your idea&nbsp;&nbsp;</span></a></h2>     
                    
				</div>
			</div>
            <!-- <div class="row">
				<div class="col-lg-5 col-lg-offset-7 text-center">
                    </br>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-lightbulb-o fa-fw"></i> <span class="network-name">Share your idea</span></a>
				</div>
			</div> -->

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
