<!-- Navigation -->
<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<!-- <img class="logo-img" src="img/logoWhite.png" alt=""> -->
                        <h1>Apache Quarks</h1>
						<h3>(now incubating)</h3>
						<hr class="intro-divider">
                        <br>
                        <h3>Join the community accelerating analytics at the edge:<br><br><a href="http://quarks.incubator.apache.org/">http://quarks.incubator.apache.org/</a></h3>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
