<section id="whyContribute">
    <div class="content-section-b">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading text-center">Why did IBM open source Quarks?</h2>
                    <div class="lead">With the growth of the Internet of Things there is a need to execute analytics at the edge.  Given the diverse nature of edge devices, local analytics is best addressed by an open community of software experts and device experts committed to expanding the capabilities and real-world use of Quarks. We encourage companies and individuals to join the Quarks community to enable edge analytics and innovate around the Internet of Things. </div>
                </div>
        </div>
    </div>
</section>
